<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gfj.plantpal.Mapper.ActuatorPumpDataMapper">
    <insert id="batchInsert">
        INSERT INTO PumpStatus (timestamp, device, actuator, pump)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.timestamp}, #{item.device}, #{item.actuator}, #{item.pump})
        </foreach>
    </insert>
</mapper>