<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gfj.plantpal.Mapper.UserPlantTipMapper">
    <select id="selectUserPlantTipList" resultType="com.gfj.plantpal.Pojo.PlantTip">
        SELECT * FROM plant_tips  ORDER BY RAND() LIMIT 3
    </select>
</mapper>